<head>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 20px;
		}

		.container {
			max-width: 500px;
			margin: 0 auto;
			text-align: center;
		}

		h1 {
			font-size: 24px;
			margin-bottom: 10px;
		}

		a {
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
		}
	</style>
</head>

<body>
	<div class="container">
		<h1>SouthSide K9 Camp Membership Registration Payment Unsuccessful</h1>
		<br />
		<p>Dear, @clientName</p>
		<br />
		<p>
			Your previous payment for the membership registration was unsuccessful or invalid.
			To avoid any disruption, we kindly request you to resubmit your payment details using the link provided below:
		</p>
		<br />
		<h6>Reason For Rejection:</h6>
		<p>@reason.Reason</p>
		<br />
		<h6>Payment Details:</h6>
		<p>Membership Registration Fee: 300 php</p>
		<br />
		<a href="@link" target="_blank">Continue Payment</a>
		<br />
		<p>Best regards,</p>
		<p>SouthSide K9 Camp</p>

	</div>
</body>

@code
{
	[Parameter] public string clientName { get; set; } = string.Empty;
	[Parameter] public string client_guid { get; set; } = string.Empty;
	[Parameter] public string host { get; set; } = string.Empty;
	[Parameter] public Shared.ReasonForRejection reason { get; set; } = new();


	private string? link;
	protected override void OnInitialized()
	{
		link = $"{host}/membership-registration-payment/{client_guid}/{reason.GUID}";
		base.OnInitialized();
	}
}
