<head>
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 30px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        header {
            text-align: center;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .header-details {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

            .header-details p {
                margin: 0;
            }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            text-align: left;
            padding: 10px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .total {
            font-weight: bold;
        }

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
        }

            .button:hover {
                background-color: #3e8e41;
            }
    </style>
</head>
<body>
    <div class="container">

        <h1>SouthSide K9 Membership Due Payment Successful</h1>
        <br />
        <p>Dear, @client.LastName, @client.FirstName</p>
        <br />
        <p>Your payment for your Membership Monthly Due is accepted successfuly.</p>
        <p>Thank you for your continuing support for SouthSide K9 Camp.</p>
        <br />
        <h6>Payment Details:</h6>
        <p>Membership Due Fee: 1500 php</p>
        <p>Due: @membershipDue.DateTimeDue.ToString("dd MMMM yyyy")</p>
        <br />
        <p>Best regards,</p>
        <p>SouthSide K9 Camp</p>
    </div>
</body>

@code
{
    [Parameter] public Shared.Client client { get; set; } = new();
    [Parameter] public Shared.MembershipDue membershipDue { get; set; } = new();
}
